body{
    margin: 0;
    padding: 0;
    text-align: center;
}

#hero{
    width: 100%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    background-size: cover;
}
#ko-fi-button{
    align-self: flex-end;
    margin: 8px 15px;
}

.changa-one-regular {
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.changa-one-regular-italic {
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: italic;
}
.project{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 200px;
    height: fit-content;
    width: 40%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgb(255 255 255 / 0.15);
    margin: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 3px solid rgb(255 255 255 / 0.4);
}
#projects{
    display: flex;
    margin: 10px auto;
    width: 70%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#bg-video{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    object-fit: cover;
    background-size: cover;
}
.projectlink{
    font-weight: bold;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgb(255 255 255 / 0.3);
    border-radius: 10px;
    border: 3px solid rgb(255 255 255 / 0.5);
    padding: 10px 13px;
    transition: .3s;
    text-decoration: none;
    color: #1c1c1c;
    grid-row: 3 / 3;
    width: fit-content;
}
.projectlink:hover{
    transform: scale(1.1);
}
.project-title{
    margin: 0;
    width: fit-content;
    grid-row: 1 / 1;
}
.project-desc{
    text-align: start;
    font-size: 18px;
    grid-row: 2 / 2;
}
.projectlink[href=""] {
    cursor: default;
    opacity: 0.7;
}