body{
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}

#hero{
    width: 100%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    background-size: cover;
}
#ko-fi-button{
    margin: 0 50px 0 auto;
}

.changa-one-regular {
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.changa-one-regular-italic {
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: italic;
}
.project{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 200px;
    height: fit-content;
    width: 40%;
    background: rgba(255, 255, 255, 0.14);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow:
            0 8px 32px rgba(0, 0, 0, 0.1),
            inset 0 1px 0 rgba(255, 255, 255, 0.5),
            inset 0 -1px 0 rgba(255, 255, 255, 0.1),
            inset 0 0 42px 21px rgba(255, 255, 255, .0);
    overflow: hidden;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 3px solid rgb(255 255 255 / 0.4);
}
#projects{
    display: flex;
    margin: 10px auto;
    width: 70%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#bg-video{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-color: #2b2b2b;
    background-image: url("https://lh3.googleusercontent.com/pw/AP1GczNJd4boeQqQzKXmcx1Gl5dAvDFK7jzud5DU4n6ngpw8wkU876Cf-k8NjDP92sWWeQNDnjLiLhKKKu2kUPdgFJDQv0_4kWne793BijccIePmdl6gMj6bHEZaFTloR8-nZJh-r4p68gnMtUcYZEWr7qk=w1548-h843-s-no-gm?authuser=0");
    background-size: cover;
    background-position: center;
    filter: blur(5px);
}
.projectlink{
    font-weight: bold;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(23px);
    -webkit-backdrop-filter: blur(23px);
    box-shadow:
            0 8px 32px rgba(0, 0, 0, 0.1),
            inset 0 1px 0 rgba(255, 255, 255, 0.5),
            inset 0 -1px 0 rgba(255, 255, 255, 0.1),
            inset 0 0 42px 21px rgba(255, 255, 255, .0);
    border-radius: 10px;
    border: 3px solid rgb(255 255 255 / 0.5);
    padding: 10px 13px;
    transition: .3s;
    text-decoration: none;
    color: #1c1c1c;
    grid-row: 3 / 3;
    width: fit-content;
}
.projectlink:hover{
    transform: scale(1.1);
}
.project-title{
    margin: 0;
    width: fit-content;
    grid-row: 1 / 1;
}
.project-desc{
    text-align: start;
    font-size: 18px;
    grid-row: 2 / 2;
}
.projectlink[href=""] {
    cursor: default;
    opacity: 0.7;
}
#top-bar{
    display: flex;
    min-width: 100%;
    margin: 20px;
}
.logo{
    width: 50px;
    height: 50px;
    margin: 0 20px;
    fill: white;
}
